html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background: #212121;
	font-family: 'Bebas Neue', sans-serif;
	color: #fff;
	font-size: 16px;
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

img {
	position: absolute;
	z-index: -5;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.2;
	width: 350px;
}

h1 {
	margin: 0;
	font-size: 4.5rem;
	letter-spacing: 5px;
}

.centered {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.links {
	display: flex;
	gap: 12px;
}

a {
	font-size: 1.75rem;
	color: rgba(255, 255, 255, 0.6);
	transition: color .3s ease-in-out, transform .3s ease-in-out;
	text-decoration: none;
}

a:hover {
	transform: scale(1.15) translateY(-5px);
	color: #fff;
}

@media (min-width: 576px) {
	h1 {
		font-size: 4rem;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}