html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background:
        linear-gradient(to left top, rgba(127, 83, 172, 1) 0%,rgba(100, 125, 238, 1) 100%),
		linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
	font-family: 'Bebas', sans-serif;
	color: #fff;
	font-size: 16px;
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

img {
	position: absolute;
	z-index: -5;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.2;
	width: 350px;
}

h1 {
	margin: 0;
	font-size: 4.5rem;
}

.centered {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

a {
	font-size: 1.75rem;
	margin-right: 12px;
	color: #fff;
	transition: color .3s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: #66428A;
}

i:last-of-type {
	margin-right: 0;
}

@media (min-width: 576px) {
	h1 {
		font-size: 4rem;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}